@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');



/* * {outline: 1px solid tomato;} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    line-height: 1;
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

body {
    font-family: 'Noto Serif', serif;
    font-size: 1em;
    line-height: 1.4;
    background-color: rgba(240, 169, 76, 0.1);
}

.container {
    max-width: 70vw;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
   }

a {
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
}

header{
    margin: 10px;
}

header a img{
    height: auto;
    width: 80%;
}

nav {
    background-color: rgba(76, 174, 240, .5);
    margin: 30px 0;
    padding: 10px 0;
}

nav ul{
    display: flex;
    justify-content: space-around;
    font-family: inherit;
    font-size: 1em;  
    height: 30px;     
}

nav li:hover{
    border-bottom: 4px solid rgb(255, 255, 255);    
}

nav li{
    padding-top: 10px;
}


h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.875em;
    text-align: left;
    padding-bottom: 20px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.625em;
    text-align: center;
}

.begin{
    text-align: right;
}

.filters {
    margin: 10px 0px 25px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.filters > button {
    margin-left: auto;
    margin-right: 20px;
}

.content {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 1em;
    background-color: rgba(218, 215, 207, 0.1);
    border-top: 8px solid rgba(207, 213, 218, 0.7);
}

.content section {
    margin-top: 10px;
}

.content section h1{
    padding: 10px 15px;
}

.info {
    padding-bottom: 15px;
}

.info a {
    padding-top: 10px;
}

.info a:hover{
    border-bottom: 2px solid rgba(76, 174, 240, .9);
}


.view img{
    max-width: 150px;
    height: 150px;
    filter: grayscale(1);
    transform: scale(.7);
    transition: all .25s;
}

.view img:hover{
    filter: grayscale(0);
    transform: scale(1);
}

.view {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    padding-left: 10px;
}

.view p{
    text-align: center;
    font-size: 0.750em;
}

.principal img{
    width: 85%;
    /* height: 48vh; */
}

.images{
    margin-top: 20px;
}


#dynamic {
    text-align: right;
    padding-bottom: 10px;
}

.getFilters{
    visibility: hidden;
}

.description{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 42vw;
    padding-right: 25px;
}

.description p{
    text-align: justify;
    line-height: 1.25;
    margin-bottom: .75rem;
    
}

.description h2{
    margin-bottom: 15px;
}

.mobile-header{
    display: none;
    /* padding: 0; */
}

.mobile-header > header{
    background-color: rgba(76, 174, 240, .5);
    padding-bottom: 10px;
}

.mobile-header > header a img {
    height: auto;
    width: 100%;
}

.mobile-header ul {
    display: flex;
    justify-content: space-around;
    font-size: 0.7em;
}




label{
    font-family: inherit;
    font-size: 14px;
}

.btnAddData{
    padding: 10px;
    border-radius: 8px;
    font-family: inherit;
    font-size: 14px;
    background-color: #fff;
    border: 2px solid rgba(76, 174, 240, .5);
    cursor: pointer;
}

#showUp{
    display: none;
    margin: 0 auto;
    /* width: 80vw; */
    border: 1px dashed #555558;
    background-color: rgba(30, 30, 31, 0.1);
    /* position: absolute; */
    margin: 10px;
    padding: 20px;
    border-radius: 10px
}

#showUp > h3{
    padding-bottom: 20px;
}

#showUp > form > div{
    padding: 10px;
}

#showUp > form > div > label{
    padding-bottom: 10px
}

#showUp > select, input {
    line-height: 1.5rem;
    border: 0;
    outline: none;
    font-family: inherit;
    margin-top: 10px;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;    
    border: 1px solid #fff;
}

#local, #image {
    background-color:rgba(76, 174, 240, .5);
    width: 50%;
}

#submitBtn {
    background-color:rgba(76, 174, 240, .5);
    line-height: 1.5rem;
    font-family: inherit;
    color: #ffffff;
    font-size: 14px;    
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#region{
    background-color:rgba(76, 174, 240, .5);
    color: #ffffff;
    line-height: 1.5rem;
    padding: 8px 10px;
    border: 1px solid transparent;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid #fff;
    width: 50%;
    text-align: center;
}

input {
    background-color: rgba(76, 174, 240, .3);
}

@media screen and (max-width: 550px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    .description{
        width: 95%;
    }
   .desktop-header{
    display: none;
   }
   .mobile-header{
    display: initial;
    background-color: rgba(76, 174, 240, .5);
    
}
}
